@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');


@CHARSET "ISO-8859-1";
/* Basic Setting
 * --------------------------------------- */

body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;

}

a {
    text-decoration: none;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}


/* Content
 * --------------------------------------- */

body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 6em;
    color: white;
}

p {
    font-size: 2em;
    color: white;
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

#section0 {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/4aebf488066989.5dcb15c8cd9d3.jpg);
}

#section2 {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/f81f2c75637631.5c52026c1bc21.jpg);
}


.para1 {
    font-size: 12px;
    width: 70%;
    margin-left: 15%;
    line-height: 1.4;
    text-align: center;
}


#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-image: /* our video */
    ;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: 3;
}



/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */

#section1 .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;

    /*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*solves problem with overflowing video in Mac with Chrome */

#section1 {
    overflow: hidden;
}



/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */

video::-webkit-media-controls {
    display: none !important;
}



/* Menu
 * --------------------------------------- */

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
